---
layout: base.njk
title: Events
permalink: /events/
---

<h1 class="sr-only">Events</h1>

  <h2>Friday Evening: Erev Shabbat Service and Oneg</h2>
    <p><strong>When:</strong> 6:00 PM to 8:00 PM, December 4th, 2026</p>
    <p><strong>Location:</strong> Temple Israel (<a href="https://www.google.com/maps/dir/?api=1&destination=3100+E+Broad+St+Columbus+OH+43209" target="_blank" rel="noopener noreferrer">Get Directions</a>)</p>
    <p><strong>Address:</strong> 3100 E Broad St, Columbus, OH 43209</p>
    <p>Join us Friday evening as we welcome Shabbat with a special synagogue service, followed by an Oneg reception where family and friends can mingle over light refreshments, desserts, and beverages.</p>
    <p>What to wear: Semi-formal attire is encouraged but business casual attire is also perfectly appropriate.</p>
  
  <h2>Saturday Morning: Bat Mitzvah Service and Kiddush Luncheon</h2>
    <p><strong>When:</strong> 10:00 AM to 12:00 PM, December 5th, 2026</p>
    <p><strong>Location:</strong> Temple Israel (<a href="https://www.google.com/maps/dir/?api=1&destination=3100+E+Broad+St+Columbus+OH+43209" target="_blank" rel="noopener noreferrer">Get Directions</a>)</p>
    <p><strong>Address:</strong> 3100 E Broad St, Columbus, OH 43209</p>
    <p>A bat mitzvah is a significant Jewish coming-of-age ceremony for girls, typically held when they are 12 or 13. This milestone marks a girl's transition into religious adulthood. Sarina will lead us in a religious service where she will read from the Torah. A Kiddush luncheon with a classic dairy/bagel spread will immediately follow the service.</p>
    <p>What to wear: Semi-formal attire is encouraged but business casual attire is also perfectly appropriate.</p>

  <h2>Saturday Evening: Bat Mitzvah Party</h2>
    <p><strong>When:</strong> 5:00 PM to 9:00 PM, December 5th, 2026</p>
    <p><strong>Location:</strong> Eagleview at Blacklick Woods Golf Course (<a href="https://www.google.com/maps/dir/?api=1&destination=7309+E+Livingston+Ave+Reynoldsburg+OH+43068" target="_blank" rel="noopener noreferrer">Get Directions</a>)</p>
    <p><strong>Address:</strong> 7309 E Livingston Ave, Reynoldsburg, OH 43068</p>
    <p>Get ready to party! We'll have food, drinks, music, dancing and lots of fun as we celebrate Sarina's achievement of becoming a bat mitzvah.</p>
    <p>What to wear: Inspired by our Secret Garden theme, we encourage guests to wear garden party attire adapted for the cooler temperatures we expect in early December. Most importantly, choose something comfortable for an evening of celebrating and dancing.




