---
layout: base.njk
title: Home
---

<h1 class="sr-only">Welcome!</h1>
<img src="/assets/img/Sarina-Remi-Lake-MI.jpg" alt="Sarina stands barefoot on the sandy shoreline of Saugatuck Dunes State Park, holding the leash of her dog, Remi. Remi is pulling away from the water which he doesn't enjoy very much. Sarina wears a light purple shirt and dark shorts and stands near the water's edge where small waves meet the beach. Remi, is large black dog wearing a harness and collar. Driftwood rests along the sand, and grassy dunes with tree-covered hills stretch along the shoreline in the background, creating a scenic view of the beach and surrounding natural landscape." class="hero-image">
<p>Welcome to Sarina's bat mitzvah website! We’re so excited to celebrate this special milestone in Sarina’s life and would be honored to have you join us. Please explore the site for important details about the bat mitzvah weekend which takes place December 4-5, 2026.</p>
<p><strong>Please <a href="/rsvp/">RSVP</a> by October 31st, 2026</strong> for the events you plan to attend.</p>
