---
layout: base.njk
title: Home
---

<div class="hero-text">
  <h1 class="sr-only">Welcome!</h1>
</div>
<!-- Note: Replace with actual hero image when available -->
<img src="/assets/img/Sarina-Remi-Lake-MI-1x.png" alt="Sarina stands barefoot on the sandy shoreline of Saugatuck Dunes State Park, holding the leash of her dog, Remi. Remi is pulling away from the water which he doesn't enjoy very much. Sarina wears a light purple shirt and dark shorts and stands near the water's edge where small waves meet the beach. Remi, is large black dog wearing a harness and collar. Driftwood rests along the sand, and grassy dunes with tree-covered hills stretch along the shoreline in the background, creating a scenic view of the beach and surrounding natural landscape." class="hero-image">
<p>Welcome to Sarina's Bat Mizvah website! We are so excited for you to join us, as our family celebrates this rite of passage in Sarina's life. Please checkout the website for information about the weekend of <time>December 5, 2026</time>.
