---
layout: base.njk
title: Mitzvah Project
permalink: /mitzvah-project/
---

<h1>Sarina's Mitzvah Project</h1>
<p>The word "mitzvah" means "good deed" in Hebrew. A Mitzvah Project is a Jewish tradition where young people take on a meaningful community service project. It's a way for them to make a positive impact in their community and demonstrate the Jewish value of <em>tikkun olam</em> - "repairing the world."</p>
<p>One of Sarina's passions is pets. She's cares deeply about animal welfare. This is why she's chosen to volunteer and support Gigi's non-profit homeless dog shelter for her Mitzvah project.</p>
<img src="/assets/img/gigi-shelter.webp" alt="Exterior of Gigi's animal shelter and adoption center, featuring a barn-style building with “GIGI'S Shelter | Behavior | Adoption” signage. In front of the building, a person kneels on the lawn beside a tan dog, with the shelter entrance and landscaped grounds visible behind them." class="hero-image">
<h2>How You Can Help</h2>
<p>We invite you to visit <a href="https://gigis.org/ways-to-give-1">Gigi's website</a> to learn about the different ways you can support them and help improve the lives of homeless dogs in Ohio.</p>
